body {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  width: 700px;
}

.main-wrapper {
  padding: 50px;
  background: #ffffff;
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.inline-blocks {
  display: flex;
  justify-content: space-between;
}

.operating-systems {
  padding: 20px 0;
  width: 186.67px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.operating-btn {
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px;
  height: 38px;
  background: #f8f8f8;
  border-radius: 4px;
  margin-bottom: 13px;
  transition: all 0.1s ease;
  border: 1px solid #dddddd;
}

.operating-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
}

.operating-btn:hover img {
  fill: #dfc66d;
  filter: hue-rotate(200deg) saturate(200%) brightness(180%);
}

.operating-icons {
  width: 14px;
}

.tooltip {
  position: relative;
  top: -10px;
  left: calc(100% - 25px);
  width: 14px;
}

.tooltip .tooltip-wrapper {
  position: relative;
}

.tooltip .tooltip-wrapper:hover .tooltip-content {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0px) translateX(-50%);
}

.tooltip .tooltip-wrapper .tooltip-content {
  position: absolute;
  top: 100%;
  left: 50%;
  background: #f8f8f8;
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  z-index: 1;
  opacity: 0;
  right: 0;
  transform: translateY(-5px) translateX(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  width: 200px;
}

.second-wrapper {
  padding: 40px 0 20px;
}

/* ==================================================================== WALLET TABEL STYLING ==================================================================== */

.wallet-content-container {
  width: 1230px;
}

.wallet-tabel {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 9px;
}

.wallet-row {
  display: flex;
  align-items: flex-start;
}

.sidebar-filter {
  width: 320px;
  padding: 15px;
  margin-right: 30px;
  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

.sidebar-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 0%;
}

.sidebar-label {
  font-size: 14px;
}

.sidebar-label-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sidebar-os-wrapper {
  display: flex;
}

.sidebar-os-row {
  display: flex;
}

.wallet-content {
  width: 100%;
  max-width: 920px;
}

.wallet-tabel-title {
  margin: 0 0 40px;
  text-align: center;
  font-size: 18px;
  color: #13161f;
  line-height: 36px;
}

.wallet-table-row {
  display: table-row;
}

.wallet-table-head {
  display: table-cell;
}

.wallet-table-head:first-child .wallet-table-title {
  text-align: left;
  font-size: 22px;
  color: #13161f;
  line-height: 36px;
}

.wallet-table-data {
  display: table-cell;
  padding: 20px;
  border: 1px solid #dadada;
  border-left: 0;
  border-right: 0;
}

.sidebar {
  padding: 0 12px;
  margin: 0 5px;
}

.sidebar-section {
  padding-bottom: 20px;
}

.margin-left {
  margin-left: 20px;
}

.sidebar-operating-systems {
  width: 100%;
}

.sidebar-tooltip {
  left: 0;
  top: 0;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.checkbox {
  position: inherit !important;
  opacity: 1 !important;
  width: 20px;
  height: 20px;
}
/* ==================================================================== RADIO BUTTONS ==================================================================== */

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* IMAGE STYLES */
[type="radio"] + .operating-btn {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + .operating-btn {
  outline: 2px solid #dfc66d;
}

/* ==================================================================== TYPOGRAPHY ==================================================================== */

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Comic Neue", Arial, Helvetica, sans-serif;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
}

.operating-title {
  margin: 0 0 20px 0;
}

/* ==================================================================== STEP BY STEP GUIDE ==================================================================== */

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 5px solid #d9d9d9;
  width: 100%;
  top: 5px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 5px solid #d9d9d9;
  width: 100%;
  top: 5px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #dfc66d;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 5px solid #dfc66d;
  width: 100%;
  top: 5px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}
